html,body{
  padding:0;
  margin:0;
  font-family:'Roboto';
  overflow:hidden;
}
.header{
  width:100%;
  height:10%;
  background:#333;
  text-align:center;
  position:relative;

}

.header h1{
  font-size:2rem;
  color:#fff;
  position:absolute;
  left:0;
  right:0;
  font-weight:100;
}
.content{
  background:#222;
  width:100%;
  height:75%;
  margin:0;
  box-sizing:border-box;
  position:relative;
  padding:1%;
}

.controls{
  width:100%;
  height:15%;
  background:#62b989;
}

.controls ul{
  display:block;
  padding:0;
  margin:0;
  list-style:none;
  width:100%;
  height:100%;
  text-align:center;
  color:#fff;
}
.controls ul li{
  width:50%;
  float:left;
  display:inline-block;
  padding:3%;
  box-sizing:border-box;

}

#board{
	width:50%;
  padding:0;
  margin:1% auto;
}

.column1,.column2,.column3,.column4,.column5,.column6,.column7,.column8,.column9{
  float:left;
  width:11.111111111111111111%;
  position:relative;
}


#board input{
  width:100%;
  height:100%;
  border:0;
  position:absolute;
  text-align:center;
  font-size:1.5rem;
  border-left: 1px solid #444;
  border-top: 1px solid #444;
  font-weight:100;
}

#board input:disabled{
  color:#000;
  font-weight:700;
}

#board input.section1_duplicates,#board input.section2_duplicates,#board input.section3_duplicates,#board input.section4_duplicates,#board input.section5_duplicates,#board input.section6_duplicates,#board input.section7_duplicates,#board input.section8_duplicates,#board input.section9_duplicates,#board input.row1_duplicates,#board input.row2_duplicates,#board input.row3_duplicates,#board input.row4_duplicates,#board input.row5_duplicates,#board input.row6_duplicates,#board input.row7_duplicates,#board input.row8_duplicates,#board input.row9_duplicates,#board input.column1_duplicates,#board input.column2_duplicates,#board input.column3_duplicates,#board input.column4_duplicates,#board input.column5_duplicates,#board input.column6_duplicates,#board input.column7_duplicates,#board input.column8_duplicates,#board input.column9_duplicates{
  background: rgb(253, 70, 70);
  color: #fff;
}

.cell input{
  color:#79E4A9;
}
.section1 input{
  background:#666;

}
.section2 input{
  background:#777;

}
.section3 input{
  background:#888;

}
.section4 input{
  background:#999;

}
.section5 input{
  background:#aaa;

}
.section6 input{
  background:#bbb;

}
.section7 input{
  background:#ccc;
  color:#30B85F;

}
.section8 input{
  background:#ddd;
  color:#30B85F;

}
.section9 input{
  background:#eee;
  color:#30B85F;

}

.cell:after{
  content:"";
  display:block;
  padding-top:65%;
}
