html,body{
  padding:0;
  margin:0;
}
.header{
  width:100%;
  height:10%;
  background:#333;
  text-align:center;
  position:relative;

}

.header h1{
  font-size:2rem;
  color:#fff;
  position:absolute;
  left:0;
  right:0;
}
.content{
  background:#222;
  width:100%;
  height:75%;
  margin:0;
  box-sizing:border-box;
  position:relative;
  padding:1%;
}

.controls{
  width:100%;
  height:15%;
  background:#62b989;
}

#board{
	width:50%;
  padding:0;
  margin:1% auto;
}

.column1,.column2,.column3,.column4,.column5,.column6,.column7,.column8,.column9{
  float:left;
  width:11.111111111111111111%;
  position:relative;
}


#board input{
  width:100%;
  height:100%;
  border:0;
  position:absolute;
  text-align:center;
  font-size:1.5rem;
  border-left: 1px solid #444;
  border-top: 1px solid #444;
}

.section1 input{
  background:#666;

}
.section2 input{
  background:#777;

}
.section3 input{
  background:#888;

}
.section4 input{
  background:#999;

}
.section5 input{
  background:#aaa;

}
.section6 input{
  background:#bbb;

}
.section7 input{
  background:#ccc;

}
.section8 input{
  background:#ddd;

}
.section9 input{
  background:#eee;

}

.cell:after{
  content:"";
  display:block;
  padding-top:65%;
}
